.post-author {
  flex: 1;
}

.post-content {
  line-height: 1.5;
  word-break: break-word;
  white-space: pre-line;
}

.date-separator {
  margin: 0 4px;
}

.icon {
  font-size: 22px;
}

.comment-form {
}

.comment-form textarea {
  min-height: 60px;
  margin-bottom: 12px;
  resize: none;
}

.comment-form textarea:focus {
  outline: none;
  border: 2px solid var(--primary-color);
}

.no-comments {
  font-style: italic;
}

.load-more-comments{
  margin: 15px 0;
}

